name: RDF Wrapping CD

on:
  push:
    branches:
      - main
    tags:
      - inrupt-rdf-wrapping-[0-9]+.[0-9]+.[0-9]+

jobs:
  publish:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
          server-id: 'central'
          server-username: MAVEN_REPO_USERNAME
          server-password: MAVEN_REPO_TOKEN
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Build the code with Maven
        run: mvn -B -ntp install

      - name: Deploy Artifacts
        run: mvn deploy -P publish
        if: github.actor != 'dependabot[bot]'
        env:
          MAVEN_REPO_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_REPO_TOKEN: ${{ secrets.SONATYPE_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Sonar Analysis
        run: mvn sonar:sonar -Dsonar.token=${{ secrets.SONARQUBE_TOKEN }}

